<%- include("partials/header") %>

<div class="row">
  <div class="col-lg-12 spacing-32">
    <h1>Campgrounds</h1>
  </div>
</div>

<div class="row d-flex align-items-center">
  <div class="col-lg-6 spacing-16">
    <h3>See our most beautiful Campgrounds!</h3>
  </div>
  <a class="btn btn-primary" href="/campgrounds/new">Add new</a>
</div>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
  <% campgrounds.forEach(function(item){ %>

  <div class="col-md-3 col-sm-6">
    <div class="thumbnail spacing-16">
      <img src="<%= item.image %>" class="card-img-top" />
      <div class="caption">
        <h5 class="spacing-16"><%= item.name %></h5>
      </div>
      <p>
        <a href="/campgrounds/<%= item._id %>" class="btn btn-outline-primary"
          >More Info</a
        >
      </p>
    </div>
  </div>
  <% }); %>
</div>

<%- include("partials/footer") %>
